# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Production build directories
**/build
**/storybook-static

# Dependency directories
**/node_modules/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# project specific ignores
# language model files
src/deepspeech/model/*
!src/deepspeech/model/README.md